<app-divider>
  <h2>Placeholder Content</h2>
</app-divider>
<app-place-holder
  [headerLines]="2"
  [paragraphLines]="5"
  [header]="true"
  [paragraphs]="1"
></app-place-holder>

<app-divider>
  <h2>Segment Component</h2>
</app-divider>
<app-segment>
  <div class="iconHeader">
    <i class="search icon"></i>
    Search for documents for this customer.
  </div>
  <button class="ui primary button">Search Document</button>
</app-segment>

<!-- <app-segment>
  <div iconHeader>
    <i class="pdf file outline icon"></i>
    No documents are listed for this customer.
  </div>
  <button class="ui primary button">Add Document</button>
</app-segment>

<app-segment>
  <header>
    <i class="world icon"></i>
    Add new Country
  </header>
  <button class="ui primary button">Create</button>
</app-segment>

<app-segment>
  <header>
    <i class="search icon"></i>
    Find a Country
  </header>
  <div class="field">
    <div class="ui search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search contries..." />
        <i class="search icon"></i>
      </div>
    </div>
  </div>
</app-segment> -->
