<div class="ui container">
  <div class="ui secondary pointing menu">
    <a
      routerLink="./"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="item"
      title="Home Page"
      >Home</a
    >
    <a
      routerLink="./elements"
      routerLinkActive="active"
      class="item"
      title="Elements Home Page"
      >Elements</a
    >
    <a
      routerLink="./collections"
      routerLinkActive="active"
      class="item"
      title="Collections Home Page"
      >Collections</a
    >
    <a
      routerLink="./views"
      routerLinkActive="active"
      class="item"
      title="Views Home Page"
      >Views</a
    >
    <a
      routerLink="./modules"
      routerLinkActive="active"
      class="item"
      title="Modules Home Page"
      >Modules</a
    >
  </div>
  <div class="ui segment">
    <router-outlet></router-outlet>
  </div>
</div>
