<div class="ui container">
  <div class="ui secondary pointing menu">
    <a
      class="item"
      routerLink="./"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      title="Home Page"
    >
      Home Page
    </a>
    <a
      class="item"
      routerLink="./elements"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      title="Elemennts Home Page"
    >
      Elements
    </a>
    <a
      class="item"
      routerLink="./collections"
      routerLinkActive="active"
      title="Collections Home Page"
    >
      Collections
    </a>
    <a
      class="item"
      routerLink="./views"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      title="Views Home Page"
    >
      Views
    </a>
    <a
      class="item"
      routerLink="./modules"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Modules
    </a>
  </div>
</div>
