<div class="ui vertical fluid tabular menu">
  <a
    class="item"
    routerLink="./"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    title="Biography Tab"
  >
    Biography
  </a>
  <a
    class="item"
    routerLink="./partner"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    title="Partiner Tab"
    >Partiner
  </a>
  <a
    class="item"
    routerLink="./companies"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    title="Companies Tab"
    >Companies
  </a>
</div>
